*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #fefefe;
    width: 100%;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 100px;
    margin: 100px 0;
}

main div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

button{
    width: 40%;
    height: 76px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: 0.4s;
    color: rgb(39, 39, 39);
}

button:hover{
    filter: brightness(0.7);
}

main > div > button:first-child{
    background-color: #5df416;
}
main > div > button:last-child{
    background-color: rgb(245, 16, 16)
}

@media screen and (min-width:768px){
    main{
        max-width: 70%;
        margin: auto;
    }
}

